.center image {
    display: centre;
    margin-left: 300px;
    margin-right: 300px;
    width: 100%;
  }

}
.container {
  padding-right: 600px;
  padding-left: 50px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1500px;
  }

h1,h2 {
    line-height: 30px;
}
h1 {
    color: rgb(15, 14, 15);
    text-align: center
 }

 h1 {
     text-decoration: underline

 }
 h2 {
     color: rgb(9, 10, 9);
     font-style: italic;
     text-align: left;
    list-style: black;
    text-decoration: underline
 }
  .column {
    float:left;
    width:480px;
  }
  .text-box {
    border:1px solid black;
  }
 p {
     font-style: italic
 }
 ul {
     line-height: 40px
 }
 
 body {
     background-image: url("https://www.google.com/search?q=image+of+triangles&source=lnms&tbm=isch&sa=X&ved=0ahUKEwjntbK5iPDhAhVOKBoKHVsDBlEQ_AUIDigB&biw=1853&bih=981&dpr=2#imgrc=2np24uBkxUuItM");
     background-color: #cccccc;

 }
image-orientation.container 
      border-image-width: 1500px